body {
	background-image: url(../images/grey_wash_wall.png);
}
/* start */

#start_btn, #controls_btn {
	height: 60px;
	font-size: 30px;
	border-color: #000;
	border: solid 1px;
	font-family: SimSun;
	color: #111;
}
#start_btn:hover, #controls_btn:hover {
	opacity: 0.85;
}
/* Choose name */

#choose_name {
	height: 60px;
	font-size: 30px;
	border-color: #000;
	border: solid 1px;
	font-family: SimSun;
	color: #111;
}
#name_textbox {
	height: 40px;
	font-size: 30px;
	border-color: #000;
	border: solid 1px;
	font-family: SimSun;
	color: #111;
}
/* player */

#player_frame {
	height: 130px;
	float: left;
	clear: both;
	background-color: #00ff21;
	border-radius: 10px;
}
#player_img {
	height: 130px;
	float: left;
	margin: 0px 0 0 0;
}
#battle_btn {
	float: left;
	clear: both;
	margin: 0px 0 0 0;
	font-family: SimSun;
}
#upper_frame {
	height: 80px;
	background-color: #292929;
}
#middle_frame {
	height: 390px;
	background-color: #D0FF5D;
}
#under_frame {
	height: 130px;
	background-color: #0026ff;
}
.container {
background-color:#34495e;
min-height:768px;	
}
/* enemy */

#monster_frame {
	height: 130px;
	background-color: #FF0000;
	border-radius: 10px;
}
#monster_img {
	height: 130px;
	margin: 0 0 0 0;
}
#monster_name, #monster_hp, #monster_lvl, #monster_str {
	margin: 0px 0 0 0;
	font-family: SimSun;
}
